[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
wxpy = "*"
ipython = "*"
pillow = "*"
pysocks = "*"
"flake8" = "*"
python-slugify = "*"
imgpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
