[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
ipython = "*"
pysocks = "*"
itchat = "*"
python-dotenv = "*"
coloredlogs = "*"
verboselogs = "*"
yagmail = "*"
aiounittest = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
aiounittest = "*"

[requires]
python_version = "3.8"

[scripts]
start = "ipython -i -m a170"
test = "python -m unittest discover -cv --locals"
